@import url('https://fonts.googleapis.com/css2?family= Roboto: família= Roboto:wght@300;400;500;700;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffffff;
    min-height: 100vh;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

nav{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #5654b3;
}

nav ul button{
    border: none;
    background-color: #5654b3;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
}
